body{
    background-color: #08aeea;
    background-image: linear-gradient(225deg, #08aeea 0%, #2af598 100%);
}
.btn-grp{
    margin: 0 auto;
    padding-top: 250px;
    width: fit-content;
}
.header{
    color:#fff;
}
.form-group{
    margin: 0 auto;
    width: 50%;
    padding-top: 50px;
}
.continue-btn{
    margin: 10px auto;
    display: block;
}
#join-meeting,#start-meeting{
    display: none;
}

@media (max-width: 768px) { 
    .form-group{
        width: 100%;
    }
 }